//Spacing variables
$elements-margin:10px;
$elements-padding: 10px;

//Text variables
$primary-text-color: #fff;
$highlight-text-color: blueviolet;

//Font variables
$font-large: 16px;

//Buttons variables
$button-primary-color: #fff;
$button-primary-background: blueviolet;